@tailwind base;
@tailwind components;
@tailwind utilities;

 /* Customize the label (the container) */
.checkmark-container {
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default radio button */
.hidden-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  height: 18px;
  width: 18px;
  background-color: #ddd;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkmark-container:hover > .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkmark-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.hidden-input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkmark-container .checkmark:after {
  top: 9px;
  left: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}
