h2 {
	padding-top: 0.25em;
	padding-left: 0.25em;

	font-size: 1.75em;
}

/* switch design */
.material-switch > input[type="checkbox"] {
   display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}
/* background when off */
.material-switch > label::before {
    background: rgb(255, 255, 255);
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 18px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.5;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
/* slider when off */
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(112, 184, 249, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -7px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
/* background when on */
.material-switch > input[type="checkbox"]:checked + label::before {
    background: #138496;
    opacity: 0.3;
}
/* slider when on */
.material-switch > input[type="checkbox"]:checked + label::after {
    background: rgb(255, 255, 255);
    left: 20px;
    opacity: 1;
}

