<!DOCTYPE html>
<html>
<head>
    <title>LatexConverter</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Latex-Converter</h1>
            </div>
            <div class="alert alert-info alert-dismissible fade show"
            id="copytoclip" role="alert">
                <strong>Copied text to clipboard!</strong>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if error_display %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ error_display }}</strong>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="row">

                <div class="col-md-6">
                    <form action="" method="post">
                        <div class="form-group">
                            <input type="text" name="url" class="form-control" placeholder="CodiMD URL"
                                   value="{{ url }}"/>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">
                                Use the Eisvogel latex template
                                <div class="material-switch float-right">
                                    {% if eisvogel %}
                                        <input id="eisvogelTemplate" name="eisvogelTemplate" type="checkbox" checked/>
                                    {% else %}
                                        <input id="eisvogelTemplate" name="eisvogelTemplate" type="checkbox"/>
                                    {% endif %}
                                    <label for="eisvogelTemplate" class="label-default"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Convert to file
                                <div class="material-switch float-right">
                                    {% if convert_to_file %}
                                        <input id="saveToFile" name="convertToFile" type="checkbox" checked/>
                                    {% else %}
                                        <input id="saveToFile" name="convertToFile" type="checkbox"/>
                                    {% endif %}
                                    <label for="saveToFile" class="label-default"></label>
                                <div>
                            </li>
                        </ul>

                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-info" value="Submit"/>
                        </div>
                    </form>
                </div>

                {% if file_path %}
                    <div class="col-md-6">
                        <div class="form-group">
                            <a href="download/{{ file_path }}" class="form-control btn
                                btn-info">Download file</a>
                        </div>
                    </div>
                {% else %}
                    {% if data %}
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea rows="5" type="text" class="form-control" id="result">{{ data }}</textarea>
                                <button id="copytoclipbtn" class="form-control btn btn-info">Copy Me</button>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
    $(document).ready(function () {
        $('#copytoclip').hide();

        $('.close').click(function() {
            $('.alert').hide();
        });

        $('#copytoclipbtn').click(function() {
            $('#result').select();
            document.execCommand("copy");
            $('#copytoclip').show();
        });
    });
</script>
</body>
</html>
