{% extends "bootstrap/base.html" %}
{% block title %}LatexConverter{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/download.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Latex-Converter</h1>
            </div>
            <div class="alert alert-info alert-dismissible fade show"
            id="copytoclip" role="alert">
                <strong>Copied text to clipboard!</strong>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% if error_display %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>{{ error_display }}</strong>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <div class="row">

                <div class="col-md-6">
                    <form action="" method="post">
                        <div class="form-group">
                            <input type="text" name="url" class="form-control" placeholder="CodiMD URL"
                                   value="{{ url }}"/>
                        </div>

                        <h2> Templates </h2>
                        <ul class="list-group">
                            {% for template in templates %}
                            <li class="list-group-item">
                                <div class="custom-control custom-radio">
                                    {% if template == cur_template  %}
                                    <input type="radio"
                                    class="custom-control-input" id="{{ template }}" value="{{ template }}" name="template" checked/>
                                    {% else %}
                                    <input type="radio"
                                    class="custom-control-input" id="{{ template }}" value="{{ template }} "name="template" />
                                    {% endif %}
                                    <label class="custom-control-label"
                                           for="{{ template }}">{{ template }}</label>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>

                        <div class="form-group">
                            <input type="submit" class="form-control btn btn-info" value="Submit"/>
                        </div>
                    </form>
                </div>
				{% if data %}
					<div class="col-md-6">
						<div class="form-group">
							<textarea rows="5" type="text" class="form-control" id="result">{{ data }}</textarea>
							<button id="copytoclipbtn" class="form-control btn btn-info">Copy Me</button>
							<button id="download" class="form-control btn btn-info">Download file</button>
						</div>
					</div>
				{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
